:root{
    --height:144px;
}
.container-fluid{
    margin: 50px;
}
.btn1{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top:-40px;
    margin-bottom: 40px;
}
.complainthead{
    font-size: 10px;
}
.list{
    list-style-type: none;
}
.update{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{

    margin-top:-52px;
    margin-left: 50px;
    width: 170px;
    
}
.timeline ul{
    list-style: none;
}
.timeline::before{
    content:'';
    position: absolute;
    height: var(--height);
    width: 2px;
    background-color: #b9dff9;
    left: 5%;
}
.timeline ul li{
    margin-bottom: 20px;
    margin-top: 20px;
}
.timeline ul li::before{
    list-style: none;
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #b9dff9;
    border-radius: 50%;
    left: 18px;
}