
.container-fluid{
    margin: 50px;
}
.btn1{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top:-40px;
    margin-bottom: 40px;
}
.complainthead{
    font-size: 10px;
}
.list{
    list-style-type: none;
}
.invest{
    margin-top: -150px;
}
.update{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{

    margin-top:-52px;
    margin-left: 50px;
    width: 170px;
    
}