#contactUs{
    font-family: monospace;
    margin-right: 10px;
}

#contactus{
    text-decoration: none;
    color: red;
}

#wholeOfFooter{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
}