.listitems{
    display: relative;
    /* background-color: rgb(38, 20, 20); */
    align-items : center;
}

.listitems > li{
    margin-top: 1%;
    display : inline-block;
    margin-right: 100px;
    align-content: center;
}

.listitems > li > a{
    text-decoration: none;
    color: rgb(77, 42, 215);
    font-size: 20px;
}

.wholeHeader{
    display: absolute;
    text-align: center;
    height: 30vh;
    max-height: 70px;
    min-height: 50px;
}
