
@import url("https://fonts.googleapis.com/css2?family=Questrial:wght@400&display=swap");
body{
  background-color: #dceffa;
}
.btn-color{
    background-color: rgba(20, 74, 185, 1);
    color: #ffffff;
    font-family: Questrial;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ffffff;
  }
  
  a{
    text-decoration: none;
    color: rgb(80, 80, 241);
  }
  .card{
    border-radius: 15px;
    font-family: Questrial;
  }