.slide-container{
    max-width: 20vw;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 3vw;
    overflow: hidden;
    border-radius: 15px;
  }
  .card{
    border-radius: 0px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
  }
  .image-content{
    position: relative;
    row-gap: 0px;
    padding: 25px 0;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 0px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
  }
  .description{
    font-size: 14px;
    color: #000000;
    text-align: center;
  }
  