@import url("https://fonts.googleapis.com/css2?family=Questrial:wght@400&display=swap");
.img-fluid{
  width: 180px; 
  border-radius: 10px;
}
.pro{
  background-color: #dceffa;
  margin-top: -40px;
}
.card{
  border-radius: 15px;
  font-family: Questrial;
}