
.pro{
    width: 70%;
    position:relative;
    right:20%;
    top:25px;
    
  }
  .car{
    width: 100%;
    position:relative;
    left:27%;
    top:25px;

  }
  .custom-height {
    height: 10vh; 
  }
  .al{
    display: flex;
  }