@import url("https://fonts.googleapis.com/css2?family=Questrial:wght@400&display=swap");
.home{
  background-color:#dceefa;
}
.mw{
  margin-top: 60px;
  font-family: Questrial;
  text-align: center;
}
.desc{
  font-family: Questrial;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  padding: 0px 100px;

}
.container py-4 px-4 justify-content-center{
  background-color: #dceefa;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
  opacity: 1;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
  position: absolute;
  background-color: white;
  height: 30px;
  width:30px;
  border-radius: 50%;
}
.swiper-button-prev{
  left: 0;
  position: absolute;
  background-color: white;
  height: 30px;
  width:30px;
  border-radius: 50%;
}
.swiper-button-prev::after,.swiper-button-next::after{
  font-size: 18px;
}

.swiper-pagination-bullet{
  opacity: 0;
}
.swiper-pagination-bullet-active{
  opacity: 0;
}
